/*custom CSS*/

/* ---- GLOBAL ---- */
body {
	background: url(../img/stardust.png) no-repeat center center fixed !important; /* from subtle patterns */
	background-size: cover !important;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	width: 100% !important;
	height: 100% !important;
}
iframe {
	margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Audiowide', monotype;
}
p {
	font-family: 'montserrat', sans-serif;
	font-size: .8rem;
}

/* ---- TOP BAR ---- */
/*.logo {
	height: 15px;
}*/

/* ---- TEXT ---- */
.header h1, .header h5{
	color: #ffe401;
	letter-spacing: 1px;
}

.header h1 {
	text-transform: uppercase;
	border-bottom: 2px solid #ffe401;
}

.header h5 {
	font-weight: 100;
	margin-top: 1.2rem;
	font-family: 'montserrat', sans-serif !important;
}

.byline {
	font-size: .5rem;
}

.blue-text {
	color: #011CFF;
}

/* ---- SECTIONS ---- */
section {
	padding: 3rem 1rem;
}
.white {
	background: #fff;
}
.footer h4, .footer p, .footer i{
	color: #ffe401 !important;
	text-align: right;
}
.footer a {
	float: right;
	padding: 5px;
}
.footer a:hover {
	color: #111;
	background: #ffe401;
}

/* ---- IMAGES ---- */
img {
	margin-bottom: 3rem;
}